DATABASE_URL="postgresql://user:pass@localhost:5432/sonare?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="minha-chave-jwt-super-secreta-min-32-chars"
AUTH_SECRET="minha-chave-jwt-super-secreta-min-32-chars"
NEXT_PUBLIC_APP_URL="https://ccb-sonare-music.vercel.app"
